
{% extends "base.html" %}

{% block content %}

<h3>Beans</h3>
{% if beans %}
<ul>
{% for bean in beans %}
    <li><a href="{{ url_for('roast.bean_detail', bean_id=bean.id) }}">{{ bean.name }}</a></li>
{% endfor %}
</ul>
{% else %}
    <p>You currently have no beans. Add some down below.</p>
{% endif %}

<h3>Add Bean</h3>
<form method="POST" action="{{ url_for('roast.beans') }}">
    {{ form.csrf_token }}
    {{ form.name(placeholder="Name", class_="form-control") }}<br/>
    {{ form.description(placeholder="Description", class_="form-control") }}<br/>
    <input type="submit" value="Submit" class="btn btn-primary btn-block">
  </form>

{% endblock %}

