
{% extends "base.html" %}

{% block css %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/nv.d3.min.css') }}" />
{% endblock %}

{% block content %}

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">{{ roast.bean.name }} <span class="pull-right"><a href="{{ url_for('roast.roast_edit', roast_id=roast.id) }}">Edit</a></span></div>
  <div class="panel-body">
    <p>Roasted with {{ roast.roaster.name }} on {{ roast.formatted_datetime }}</p>
    <p>Notes: {{ roast.notes }}</p>
  </div>

  <div class="panel panel-info">
      <div class="panel-heading">Start</div>
      <div class="panel-body">
        <div class="col-xs-3">Time</div>
        <div class="col-xs-9">{{ roast.start_time }}</div>
        <div class="col-xs-3">Temperature</div>
        <div class="col-xs-9">{% if roast.start_temp %}{{ roast.start_temp }}&deg;{% else %}&nbsp;{% endif %}</div>
        <div class="col-xs-3">Weight</div>
        <div class="col-xs-9">{% if roast.start_weight %}{{ roast.start_weight }}g{% else %}&nbsp;{% endif %}</div>
      </div>
  </div>

  <div class="panel panel-info">
      <div class="panel-heading">First Crack</div>
      <div class="panel-body">
        <div class="col-xs-3">Start Time</div>
        <div class="col-xs-9">{% if roast.fc_start_time %}{{ roast.fc_start_time }}{% else %}&nbsp;{% endif %}</div>
        <div class="col-xs-3">End Time</div>
        <div class="col-xs-9">{% if roast.fc_end_time %}{{ roast.fc_end_time }}{% else %}&nbsp;{% endif %}</div>
        <div class="col-xs-3">Start Temperature</div>
        <div class="col-xs-9">{% if roast.fc_start_temp %}{{ roast.fc_start_temp }}&deg;{% else %}&nbsp;{% endif %}</div>
        <div class="col-xs-3">End Temperature</div>
        <div class="col-xs-9">{% if roast.fc_end_temp %}{{ roast.fc_end_temp }}&deg;{% else %}&nbsp;{% endif %}</div>
      </div>
  </div>

  <div class="panel panel-info">
      <div class="panel-heading">Second Crack</div>
      <div class="panel-body">
        <div class="col-xs-3">Start Time</div>
        <div class="col-xs-9">{% if roast.sc_start_time %}{{ roast.sc_start_time }}{% else %}&nbsp;{% endif %}</div>
        <div class="col-xs-3">End Time</div>
        <div class="col-xs-9">{% if roast.sc_end_time %}{{ roast.sc_end_time }}{% else %}&nbsp;{% endif %}</div>
        <div class="col-xs-3">Start Temperature</div>
        <div class="col-xs-9">{% if roast.sc_start_temp %}{{ roast.sc_start_temp }}&deg;{% else %}&nbsp;{% endif %}</div>
        <div class="col-xs-3">End Temperature</div>
        <div class="col-xs-9">{% if roast.sc_end_temp %}{{ roast.sc_end_temp }}&deg;{% else %}&nbsp;{% endif %}</div>
      </div>
  </div>

  <div class="panel panel-info">
      <div class="panel-heading">End</div>
      <div class="panel-body">
        <div class="col-xs-3">Time</div>
        <div class="col-xs-9">{{ roast.end_time }}</div>
        <div class="col-xs-3">Temperature</div>
        <div class="col-xs-9">{% if roast.end_temp %}{{ roast.end_temp }}&deg;{% endif %}</div>
        <div class="col-xs-3">Weight</div>
        <div class="col-xs-9">{% if roast.end_weight %}{{ roast.end_weight }}g{% endif %}</div>
      </div>
  </div>

  <div class="panel panel-info">
      <div class="panel-heading">Other</div>
      <div class="panel-body">
        <div class="col-xs-3">Time Elapsed</div>
        <div class="col-xs-9">{{ roast.time_elapsed }} seconds</div>
        <div class="col-xs-3">Weight Loss</div>
        <div class="col-xs-9">{% if roast.weight_loss %}{{ roast.weight_loss }}g{% endif %}</div>
        <div class="col-xs-3">Percentage Weight Loss</div>
        <div class="col-xs-9">{% if roast.percent_weight_loss %}{{ roast.percent_weight_loss }}%{% endif %}</div>
      </div>
  </div>

</div>
<div id="chart">
    <h4>Roast Temperature Over Time</h4>
    <svg></svg>
</div>

{% endblock %}

{% block js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/nv.d3.min.js') }}"></script>
    <script type="text/javascript">
        /*These lines are all chart setup.  Pick and choose which chart features you want to utilize. */
        nv.addGraph(function() {
          var chart = nv.models.lineChart()
                        .margin({left: 100})  //Adjust chart margins to give the x-axis some breathing room.
                        .showLegend(false)
                        .showYAxis(true)        //Show the y-axis
                        .showXAxis(true)        //Show the x-axis
          ;

          chart.xAxis     //Chart x-axis settings
              .axisLabel('Time (s)')
              .tickFormat(d3.format(',r'));

          chart.yAxis     //Chart y-axis settings
              .axisLabel('Temperature (F)')
              .tickFormat(d3.format(',r'));


          chart.tooltips(true);
          chart.tooltipContent(function(key, y, e, graph) {
              return '<p><strong>' + graph.point.label + '</strong><br>' +
                      'Time: ' + graph.point.x + 's<br>Temperature: ' + graph.point.y + '&deg;F</p>'
          });

          /* Done setting the chart up? Time to render it!*/
          var myData = [{
              values: {{ roast.line_chart_data()|safe }}
          }];

          d3.select('#chart svg')    //Select the <svg> element you want to render the chart in.
              .datum(myData)         //Populate the <svg> element with chart data...
              .call(chart);          //Finally, render the chart!

          //Update the chart when window resizes.
          nv.utils.windowResize(function() { chart.update() });
          return chart;
        });



    </script>
{% endblock %}

