
{% extends "base.html" %}

{% block content %}

<h3>Roasters</h3>
{% if roasters %}
<ul>
{% for roaster in roasters %}
    <li><a href="{{ url_for('roast.roaster_detail', roaster_id=roaster.id) }}">{{ roaster.name }}</a></li>
{% endfor %}
</ul>
{% else %}
    <p>You currently have no roasters. Add some down below.</p>
{% endif %}

<h3>Add Roaster</h3>
<form method="POST" action="{{ url_for('roast.roasters') }}">
    {{ form.csrf_token }}
    {{ form.name(placeholder="Name", class_="form-control") }}<br/>
    {{ form.description(placeholder="Description", class_="form-control") }}<br/>
    <input type="submit" value="Submit" class="btn btn-primary btn-block">
  </form>

{% endblock %}

