
{% extends "base.html" %}

{% block content %}

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">{{ roaster.name }} <span class="pull-right"><a href="{{ url_for('roast.roaster_edit', roaster_id=roaster.id) }}">Edit</a></span></div>
  <div class="panel-body">
    <p>{{ roaster.description }}</p>
  </div>
</div>

{% if roaster.roasts.all() %}
<h4>Roasts for {{ roaster.name }}</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Bean</th>
            <th>Roaster</th>
            <th>Roast Date</th>
        </tr>
    </thead>
    <tbody>
    {% for roast in roaster.roasts %}
        <tr>
            <td><a href="{{ url_for('roast.roast_detail', roast_id=roast.id) }}">{{ roast.bean.name }}</a></td>
            <td>{{ roast.roaster.name }}</td>
            <td>{{ roast.formatted_datetime }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}

