
{% extends "base.html" %}

{% block content %}

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">{{ roast.bean.name }}</div>
  <div class="panel-body">
    <p>Roasted with {{ roast.roaster.name }}</p>
    <p>Notes: {{ roast.notes }}</p>
  </div>

  <!-- Table -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>State</th>
        <th>Variable</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>Start</td>
          <td>Time</td>
          <td>{{ roast.start_time }}</td>
      </tr>
      <tr>
          <td>Start</td>
          <td>Temperature</td>
          <td>{% if roast.start_temp %}{{ roast.start_temp }}&deg;{% endif %}</td>
      </tr>
      <tr>
          <td>Start</td>
          <td>Weight</td>
          <td>{% if roast.start_weight %}{{ roast.start_weight }}g{% endif %}</td>
      </tr>
      <tr>
          <td>First Crack</td>
          <td>Start Time</td>
          <td>{{ roast.first_crack_start_time }}</td>
      </tr>
      <tr>
          <td>First Crack</td>
          <td>End Time</td>
          <td>{{ roast.first_crack_end_time }}</td>
      </tr>
      <tr>
          <td>First Crack</td>
          <td>Start Temp</td>
          <td>{% if roast.first_crack_start_temp %}{{ roast.first_crack_start_temp }}&deg;{% endif %}</td>
      </tr>
      <tr>
          <td>First Crack</td>
          <td>End Temp</td>
          <td>{% if roast.first_crack_end_temp %}{{ roast.first_crack_end_temp }}&deg;{% endif %}</td>
      </tr>
      <tr>
          <td>Second Crack</td>
          <td>Start Time</td>
          <td>{% if roast.second_crack_start_time %}{{ roast.second_crack_start_time }}{% endif %}</td>
      </tr>
      <tr>
          <td>Second Crack</td>
          <td>End Time</td>
          <td>{% if roast.second_crack_end_time %}{{ roast.second_crack_end_time }}{% endif %}</td>
      </tr>
      <tr>
          <td>Second Crack</td>
          <td>Start Temp</td>
          <td>{% if roast.second_crack_start_temp %}{{ roast.second_crack_start_temp }}&deg;{% endif %}</td>
      </tr>
      <tr>
          <td>Second Crack</td>
          <td>End Temp</td>
          <td>{% if roast.second_crack_end_temp %}{{ roast.second_crack_end_temp }}&deg;{% endif %}</td>
      </tr>
      <tr>
          <td>End</td>
          <td>Time</td>
          <td>{{ roast.end_time }}</td>
      </tr>
      <tr>
          <td>End</td>
          <td>Temperature</td>
          <td>{% if roast.end_temp %}{{ roast.end_temp }}&deg;{% endif %}</td>
      </tr>
      <tr>
          <td>End</td>
          <td>Weight</td>
          <td>{% if roast.end_weight %}{{ roast.end_weight }}g{% endif %}</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}

